<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bwlk.mapper.TRepairsMapper" >
  <resultMap id="BaseResultMap" type="com.bwlk.pojo.TRepairs" >
    <id column="repairId" property="repairid" jdbcType="INTEGER" />
    <result column="dormBuildName" property="dormbuildname" jdbcType="VARCHAR" />
    <result column="dormName" property="dormname" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="repairTel" property="repairtel" jdbcType="INTEGER" />
    <result column="marks" property="marks" jdbcType="VARCHAR" />
    <result column="assess" property="assess" jdbcType="VARCHAR" />
    <result column="repairer" property="repairer" jdbcType="VARCHAR" />
    <result column="piId" property="piid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    repairId, dormBuildName, dormName, remarks, answer, flag, repairTel, marks, assess, 
    repairer, piId, username
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bwlk.pojo.TRepairsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_repairs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_repairs
    where repairId = #{repairid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_repairs
    where repairId = #{repairid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bwlk.pojo.TRepairsExample" >
    delete from t_repairs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bwlk.pojo.TRepairs" >
    insert into t_repairs (repairId, dormBuildName, dormName, 
      remarks, answer, flag, 
      repairTel, marks, assess, 
      repairer, piId, username
      )
    values (#{repairid,jdbcType=INTEGER}, #{dormbuildname,jdbcType=VARCHAR}, #{dormname,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER}, 
      #{repairtel,jdbcType=INTEGER}, #{marks,jdbcType=VARCHAR}, #{assess,jdbcType=VARCHAR}, 
      #{repairer,jdbcType=VARCHAR}, #{piid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bwlk.pojo.TRepairs" >
    insert into t_repairs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="repairid != null" >
        repairId,
      </if>
      <if test="dormbuildname != null" >
        dormBuildName,
      </if>
      <if test="dormname != null" >
        dormName,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="repairtel != null" >
        repairTel,
      </if>
      <if test="marks != null" >
        marks,
      </if>
      <if test="assess != null" >
        assess,
      </if>
      <if test="repairer != null" >
        repairer,
      </if>
      <if test="piid != null" >
        piId,
      </if>
      <if test="username != null" >
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="repairid != null" >
        #{repairid,jdbcType=INTEGER},
      </if>
      <if test="dormbuildname != null" >
        #{dormbuildname,jdbcType=VARCHAR},
      </if>
      <if test="dormname != null" >
        #{dormname,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="repairtel != null" >
        #{repairtel,jdbcType=INTEGER},
      </if>
      <if test="marks != null" >
        #{marks,jdbcType=VARCHAR},
      </if>
      <if test="assess != null" >
        #{assess,jdbcType=VARCHAR},
      </if>
      <if test="repairer != null" >
        #{repairer,jdbcType=VARCHAR},
      </if>
      <if test="piid != null" >
        #{piid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bwlk.pojo.TRepairsExample" resultType="java.lang.Integer" >
    select count(*) from t_repairs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_repairs
    <set >
      <if test="record.repairid != null" >
        repairId = #{record.repairid,jdbcType=INTEGER},
      </if>
      <if test="record.dormbuildname != null" >
        dormBuildName = #{record.dormbuildname,jdbcType=VARCHAR},
      </if>
      <if test="record.dormname != null" >
        dormName = #{record.dormname,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.answer != null" >
        answer = #{record.answer,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null" >
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.repairtel != null" >
        repairTel = #{record.repairtel,jdbcType=INTEGER},
      </if>
      <if test="record.marks != null" >
        marks = #{record.marks,jdbcType=VARCHAR},
      </if>
      <if test="record.assess != null" >
        assess = #{record.assess,jdbcType=VARCHAR},
      </if>
      <if test="record.repairer != null" >
        repairer = #{record.repairer,jdbcType=VARCHAR},
      </if>
      <if test="record.piid != null" >
        piId = #{record.piid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_repairs
    set repairId = #{record.repairid,jdbcType=INTEGER},
      dormBuildName = #{record.dormbuildname,jdbcType=VARCHAR},
      dormName = #{record.dormname,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      answer = #{record.answer,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER},
      repairTel = #{record.repairtel,jdbcType=INTEGER},
      marks = #{record.marks,jdbcType=VARCHAR},
      assess = #{record.assess,jdbcType=VARCHAR},
      repairer = #{record.repairer,jdbcType=VARCHAR},
      piId = #{record.piid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bwlk.pojo.TRepairs" >
    update t_repairs
    <set >
      <if test="dormbuildname != null" >
        dormBuildName = #{dormbuildname,jdbcType=VARCHAR},
      </if>
      <if test="dormname != null" >
        dormName = #{dormname,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="repairtel != null" >
        repairTel = #{repairtel,jdbcType=INTEGER},
      </if>
      <if test="marks != null" >
        marks = #{marks,jdbcType=VARCHAR},
      </if>
      <if test="assess != null" >
        assess = #{assess,jdbcType=VARCHAR},
      </if>
      <if test="repairer != null" >
        repairer = #{repairer,jdbcType=VARCHAR},
      </if>
      <if test="piid != null" >
        piId = #{piid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where repairId = #{repairid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bwlk.pojo.TRepairs" >
    update t_repairs
    set dormBuildName = #{dormbuildname,jdbcType=VARCHAR},
      dormName = #{dormname,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER},
      repairTel = #{repairtel,jdbcType=INTEGER},
      marks = #{marks,jdbcType=VARCHAR},
      assess = #{assess,jdbcType=VARCHAR},
      repairer = #{repairer,jdbcType=VARCHAR},
      piId = #{piid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where repairId = #{repairid,jdbcType=INTEGER}
  </update>
</mapper>